<div class="container">
    <h1 class="page-header">Eureka Inbox</h1>
    <nav class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
            <li><a href="/">Inbox</a></li>
        </ul>
    </nav>

    {{outlet}}
</div>